.container {
    display: flex;
    width: 720px;
    flex-wrap: wrap;
    height: 720px;
    
}

.box {
    display: flex;
    width: 100%;
}

.screen {
border: 3px solid;
height: 720px
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

.box-button {
    margin-bottom: 40px;
}
