.container {
    display: grid;
    height: 960px;
    width: 960px;
    grid-template-columns: repeat(16, auto);
    border: 10px solid;
    border-color: black;
}

.box {
    border: 1px solid black;
}