.container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    border: 10px solid;
    border-color: black;
    width: 400px;
    height: 400px;
}

.box {
    display: flex;
    border-color: black;
}